H2{
	text-align: center;
}

.container{
	margin: 10px 0;
	padding: 30px 20px;
	background-color: white;
	opacity: 0.8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: auto;
}

.content {
	margin: 10px 0;
	display: table;
}

.board_content{
	width: 90%;
}

.user_info {
	margin: 10px 0;
	padding: 10px 5px;
	background-color: white;
	opacity: 0.8;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.menu {
	margin: 10px 0;
	padding: 10px 5px;
	background-color: white;
	opacity: 0.8;
	text-align: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.board {
}

.value{
	margin: 0 10px;
}

.article_content{
	margin: 10px 10px;
	border: thin;
	border-color: lime;
}

.reply{
	display: table-cell;
}